@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/11952.woff2") format("woff2"),
    url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: #f9fbfd;
}

.container {
  width: 95%;
  max-width: 1160px;
  margin: auto;
}

/* HEADER */

.header {
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 210px;
}

.menu-link {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  color: #f9fbfd;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin-left: 33px;
}

.first-background-img {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 650px;
}

/* FIRST TITLE AND FIRST SPAN */

.first-title {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  color: #f9fbfd;
  margin-bottom: 30px;
}

.first-span {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #f9fbfd;
}

.title-and-span {
  margin-bottom: 403px;
}

/* SECOND BLOCK */

.second-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.title-second-block {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  color: #011c40;
  margin-bottom: 40px;
}

.description-second-block {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #011c40;
  width: 512px;
  height: 108px;
}

/* THRID BLOCK */

.thrid-background-img {
  width: 100%;
  height: 562px;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
  position: absolute;
}

.thrid-block {
  z-index: 1;
}

.thrid-block-content {
  box-sizing: border-box;
  padding-top: 120px;
}

.title-thrid-block {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #011c40;
  width: 228px;
  margin: auto;
  margin-bottom: 60px;
  height: 21px;
}

.cards {
  display: flex;
  margin-bottom: 240px;
}

.card {
  background-color: #f9fbfd;
  width: 360px;
  height: 241px;
  padding-left: 30px;
  margin-right: 40px;
}

.card:last-child {
  margin-right: 0;
}

.card1 {
  box-sizing: border-box;
  padding-top: 30px;
}

.card2 {
  box-sizing: border-box;
  padding-top: 35px;
}

.card3 {
  box-sizing: border-box;
  padding-top: 38px;
}

.card-title {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #011c40;
  margin-bottom: 20px;
  height: 13px;
}

.card-discription {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #011c40;
}

.card-discription1 {
  width: 288px;
  height: 71px;
}

.card-discription2 {
  width: 280px;
  height: 71px;
}

.card-discription3 {
  width: 241px;
  height: 91px;
}

/* FOURTH BLOCK */

.fourth-block-content {
  width: 1130px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.title-fourth-block {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #011c40;
  width: 302px;
  margin: auto;
  margin-bottom: 60px;
}

.big-cards {
  width: 1130px;
  margin: 0 auto;
}

.first-big-cards-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  height: 386px;
}

.second-big-cards-row {
  display: flex;
  justify-content: space-between;
  height: 386px;
}

.big-card-gradient {
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011c40 100%);
  width: 260px;
  position: relative;
  display: flex;
}

.big-card-img {
  z-index: -1;
  position: absolute;
}

.big-card-foto {
  display: flex;
  position: absolute;
}

.big-card-title {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  color: #f9fbfd;
  margin: 343px auto 30px 30px;
}

/* big-card-info */

.big-card-info {
  width: 260px;
  height: 386px;
  background-color: #011c40;
  display: none;
}

.title-big-card-info {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #f9fbfd;
  margin-bottom: 23px;
  margin-left: 25px;
  margin-top: 33px;
}

.h3-big-card-info {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: #f9fbfd;
  height: 11px;
  margin-bottom: 8px;
  margin-left: 25px;
}

.discription-big-card-info {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  color: #d8d8d9;
  margin-bottom: 18px;
  display: block;
  margin-left: 25px;
  width: 210px;
}

.btn-big-card-info {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: 600;
  font-size: 12px;
  line-height: 150%;
  color: #011c40;
  width: 210px;
  height: 40px;
  background-color: #f9fbfd;
  margin-left: 25px;
  margin-bottom: 33px;
}

.big-card-gradient:hover .big-card-info {
  display: block;
  position: relative;
}

/* FIFTH BLOCK */

.background-fifth-block {
  width: 100%;
  height: 555px;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
  position: absolute;
}

.fifth-block {
  width: auto;
  height: 555px;
  display: flex;
  margin-bottom: 120px;
}

.fifth-block-content {
  width: 1040px;
  height: 455px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.title-fifth-block {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 150%;
  color: #011c40;
  margin-bottom: 30px;
}

.discriptison-fifth-block {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 150%;
  color: #011c40;
  width: 352px;
}

.form {
  width: 403px;
  height: 455px;
  padding: 50px;
  box-sizing: border-box;
  background: #011c40;
  box-shadow: 0px 4px 45px rgba(1, 28, 64, 0.15);
}

.title-form {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  color: #f9fbfd;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 35px;
}

.input {
  width: 303px;
  height: 43px;
  background: #f9fbfd;
  margin-bottom: 20px;
  border: none;
}

::-webkit-input-placeholder {
  color: #011c40;
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  padding-left: 16px;
  box-sizing: border-box;
}
::-moz-placeholder {
  color: #011c40;
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  padding-left: 16px;
  box-sizing: border-box;
} /* Firefox 19+ */
:-moz-placeholder {
  color: #011c40;
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  padding-left: 16px;
  box-sizing: border-box;
} /* Firefox 18- */
:-ms-input-placeholder {
  color: #011c40;
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  padding-left: 16px;
  box-sizing: border-box;
}

.input-checkbox {
  width: 18px;
  height: 18px;
  border: none;
  margin-right: 5px;
  margin: 0 5px 0 0;
}

.lable {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  color: #f9fbfd;
  font-size: 10px;
  line-height: 130%;
  display: flex;
  align-items: center;
  margin-bottom: 35px;
}

.btn-form {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  width: 303px;
  height: 43px;
  background-color: #f9fbfd;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #011c40;
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
}

/* SIXTH BLOCK */

.sixth-block-content {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 120px;
}

.map {
  width: 560px;
  height: 306px;
}

.title-sixth-block {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #011c40;
  width: 500px;
  height: 50px;
  margin-bottom: 45px;
}

.geoposition-txt {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #011c40;
  margin-bottom: 25px;
}

.phone-number {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  color: #011c40;
  font-size: 16px;
  line-height: 150%;
}

.icon {
  margin-right: 10px;
}

/* FOOTER */

.footer {
  background-color: #011c40;
  height: 138px;
  display: flex;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navigation-footer {
  margin-right: 339px;
  margin-left: auto;
}

.footer-link {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  color: #f9fbfd;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  margin-right: 33px;
}

.footer-link:last-child {
  margin-right: 0;
}

.social-link {
  margin-right: 33px;
}

.social-link:last-child {
  margin-right: 0px;
}
