@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/11952.woff2") format("woff2"),
  url("../fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body{
  background-color: #f9fbfd;
}

.container{
  width: 95%;
  max-width: 1160px;
  margin: auto;
}

/* HEADER */

.header{
  margin-top: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  margin-bottom: 210px;
}


.menu-link{
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  color: #F9FBFD;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  margin-left: 33px;
}

.first-background-img{
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute; 
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 650px;
}

/* FIRST TITLE AND FIRST SPAN */

.first-title{
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: bold;
  font-size: 54px;
  line-height: 66px;
  color: #F9FBFD;
  margin-bottom: 30px;
}

.first-span{
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #F9FBFD;
}

.title-and-span{
  margin-bottom: 403px;
}

/* SECOND BLOCK */

.second-block{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 120px;
}

.title-second-block{
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  color: #011C40;
  margin-bottom: 40px;
}

.description-second-block{
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 150%;
  color: #011C40;
  width: 512px;
  height: 108px;
}

/* THRID BLOCK */

.thrid-background-img{
  width: 100%;
  height: 562px;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
  position: absolute; 
}

.thrid-block{
  z-index: 1;
}

.thrid-block-content{
  box-sizing: border-box;
  padding-top: 120px;
}

.title-thrid-block{
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #011C40;
  width: 228px;
  margin: auto;
  margin-bottom: 60px;
  height: 21px;
}

.cards{
  display: flex;
  margin-bottom: 240px;
}

.card{
  background-color: #F9FBFD;
  width: 360px;
  height: 241px;
  padding-left: 30px;
  margin-right: 40px;
}

.card:last-child{
  margin-right: 0;
}

.card1{
  box-sizing: border-box;
  padding-top: 30px;
}

.card2{
  box-sizing: border-box;
  padding-top: 35px;
}

.card3{
  box-sizing: border-box;
  padding-top: 38px;
}


.card-title{
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  color: #011C40;
  margin-bottom: 20px;
  height: 13px;
}

.card-discription{
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #011C40;
}

.card-discription1{
  width: 288px;
  height: 71px;
}

.card-discription2{
  width: 280px;
  height: 71px;
}

.card-discription3{
  width: 241px;
  height: 91px;
}

/* FOURTH BLOCK */

.fourth-block-content{
  width: 1130px;
  margin: 0 auto;
}

.title-fourth-block{
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #011C40;
  width: 302px;
  margin: auto;
  margin-bottom: 60px;
}

.big-cards{
  width: 1130px;
  margin: 0 auto;
}

.first-big-cards-row{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.second-big-cards-row{
  display: flex;
  justify-content: space-between;
}

.big-card-gradient{
  background: linear-gradient(180deg, rgba(1, 28, 64, 0) 50%, #011C40 100%);
  width: 260px;
  position: relative;
}

.big-card-img{
  z-index: -1;
  position: absolute; 
}